.container {
  width: 100vw;
  padding: 9px;
  box-sizing: border-box;
}

.formContainer {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 40px 0;
  padding-bottom: 32px;
  width: 2150px;

  position: absolute;
  min-height: 30%;
  top: 134px;
  left: 40px;

  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.formTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  color: #000000;
}

.formSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000000;
}

.formDescription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #000000;
}

.formQuestion {
  width: 1043px;
  height: 24px;
  left: 349px;
  top: 468px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.formSubmittedContainer {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 40px 0;
  padding-bottom: 32px;
  width: 2150px;

  position: absolute;
  min-height: 30%;
  top: 134px;
  left: 40px;

  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.paletteDroppableContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formDroppableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 300px;
}

.elementImage {
  width: 50%;
  opacity: 0.3;
}

.paletteElementContainer {
  justify-content: center;

  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  background-color: white;
  width: 177px;
  height: 177px;
  left: 36px;
  top: 192px;

  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.formElementContainer {
  justify-content: center;
  padding: 16px;
  background-color: white;

  width: 1705px;
  left: 470px;
  top: 440px;

  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.formRadioElementContainer {
  justify-content: center;
  padding: 16px;
  background-color: white;

  width: 1705px;
  left: 470px;
  top: 440px;

  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.radioOption {
  width: 200px;
}

.formInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.formElementInput {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.formElementTextBox {
  box-sizing: border-box;

  width: 100%;
  height: 36px;
  left: 493px;
  top: 500px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* 
    .formElementContainer {
      justify-content: center;
    
      border: 1px solid lightgrey;
      border-radius: 2px;
      padding: 8px;
      background-color: white;
      width: 177px;
      height: 177px;
      left: 36px;
      top: 192px;
    
      background: #ffffff;
      border: 0.5px solid rgba(0, 0, 0, 0.15);
    } */

.walletTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 20px;
}

.successTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.walletSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  padding-bottom: 30px;
}

.successSubtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.editButton {
  width: 200px;
  height: 74px;

  background: #b5b5b5 !important;
  border-radius: 20px;
  color: white;
}

.ipfsButton {
  width: 200px;
  height: 74px;

  background: #4d94ff !important;
  border-radius: 20px;
  color: white;
}

.publishButton {
  width: 200px;
  height: 74px;

  background: #7153ff !important;
  border-radius: 20px;
  color: white;
}

.closeButton {
  width: 200px;
  height: 74px;

  background: #ff5353 !important;
  border-radius: 20px;
  color: white;
}

.openButton {
  width: 200px;
  height: 74px;

  background: #5fc147 !important;
  border-radius: 20px;
  color: white;
}
