.container {
  max-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main {
  min-height: 100vh;
  max-width: 1200px;
  padding: 4rem 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
}

.selectionContainer {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.githubButton {
  width: 30px;
  height: 30px;
}

.dashboardButton {
  width: 321px;
  height: 74px;

  background: #999999 !important;
  border-radius: 20px;
  color: white;
}

.buildButton {
  width: 321px;
  height: 74px;

  background: #7153ff !important;
  border-radius: 20px;
  color: white;
}

.divider {
  width: 0.5px;
  height: 200px;
  background: #eaeaea;
  opacity: 0.7;
}

.containerLeft {
  padding-right: 2rem;
}
.containerRight {
  padding-left: 2rem;
}
